/* ОБЩИЕ СТИЛИ */

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
}

.home_document {
	background-color: #fff;
}

.profile_document {
	background-color: #F5FBFB;
}

.str_body {
	background-color: #F5FBFB;
}

.messages_body {
	background-color: #F5FBFB;
}

.registration_document {
	background-color: #fff;
	position: relative;
	height: 100%;
}

html.reg_html {
	height: 100%;
}

img {
	max-width: 100%;
}

.clearfix:before {
  content: "";
  display: table;
	clear: both;
}

/* HEADER START */

.header {
	background-color: #FC0657;
	padding-bottom: 50px;
	padding-top: 17px;
}

.header_profile_page {
	background-color: #F5FBFB;
	border: 1px solid #ECEFF1;
}

.header_str_photo {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #94E41A;
}

.photos_profile_page_bg {
	padding-top: 18px;
	background-image: url(../img/profile_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 40px 30px -10px rgba(50, 50, 50, 0.75),
											inset 0px -40px 30px -10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: inset 0px 40px 30px -10px rgba(50, 50, 50, 0.75),
									 inset 0px -40px 30px -10px rgba(50, 50, 50, 0.75);
	box-shadow: inset 0px 40px 30px -10px rgba(50, 50, 50, 0.75),
							inset 0px -40px 30px -10px rgba(50, 50, 50, 0.75);
}

.top-logo-wrapper, .communication, header_search_header, .top_header_menu, .top_header_menu li {
	display: inline-block;
}

.top-logo-wrapper {
	margin-left: 17px;
}

.communication {
	float: right;
}

.header__logo-link {
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	margin-right: 20px;
}

.header__logo-link:hover {
	color: #fff;
	text-decoration: none;
}

.header__logo-link:focus {
	text-decoration: none;
}

.logo__subscribers {
	color: #fff;
	vertical-align: top;
	line-height: 29px;
}

.logo__subscribers:hover, .logo__subscribers:focus {
	color: #fff;
}

.header_search_header {
	width: 190px;
	color: #9E9EA6;
	height: 28px;
	padding-left: 14px;
	font-family: "Open Sans", sans-serif;
	border-radius: 2px;
	background-image: url(../img/search_icon.png);
	background-repeat: no-repeat;
	background-position: 170px 7px;
	border: 0;
	outline: none;
}

.top_header_menu {
	list-style-type: none;
	font-size: 0;
	vertical-align: middle;
	line-height: 0;
}

.top_header_menu .fa-search {
	font-size: 15px;
}

.top_header_menu li:last-child img {
	border-radius: 50%;
	width: 30px;
	height: 31px;
}

.top_header_menu .fa-envelope:after {
	content: '3';
	display: inline;
	font-size: 12px;
	height: 14px;
	width: 14px;
	background-color: #FDEF36;
	z-index: 10;
	color: #000;
	padding-left: 5px;
	padding-top: 1px;
	border-radius: 10px;
	left: 13px;
	top: 0;
	position: absolute;
}

.top_header_menu .fa-bell:after {
	content: '';
	display: inline;
	font-size: 12px;
	height: 10px;
	width: 10px;
	background-color: #FDEF36;
	z-index: 10;
	color: #000;
	padding-left: 3px;
	border-radius: 10px;
	left: 10px;
	top: 3px;
	position: absolute;
}

.top_header_menu li {
	margin-right: 25px;
	font-size: 20px;
	vertical-align: middle;
}

.top_header_menu li a {
	color: #fff;
	position: relative;
}

.foto_contest {
	text-align: center;
	color: #fff;
}

.foto_contest h2 {
	font-weight: 300;
	margin-bottom: 0;
	font-size: 15px;
	margin-top: 40px;
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
}

.foto_contest h1 {
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 0;
	font-weight: lighter;
}

.your-clock {
	display: inline-block;
	width: auto;
}

.header_timer {
	text-align: center;
	width: 100%;
}

.header_buttons {
	text-align: center;
}

.header_buttons a {
	color: #000;
	background-color: #fff;
	line-height: 35px;
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 3px;
	margin-top: 30px;
}

.header_buttons a:hover, .header_buttons a:focus {
	text-decoration: none;
}

.fa-arrow-right {
	color: #fff;
	margin: 0 10px;
}

/* HEADER END */

/* SECTION PHOTOS START */

.tab.active {
	border-bottom: 3px solid #94E41A;
}

.tab_item.hide {
	display: none;
}

.tab_item img {
	margin-right: 15px;
	margin-bottom: 15px;
}

.tab_item img:last-child {
	margin-right: 0;
}

.tab_item img:nth-of-type(4) {
	margin-right: 0;
}

.tab_content {
	text-align: center;
}

.tab {
	margin-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

.tab:hover {
	cursor: pointer;
}

.tabs {
	text-align: center;
	margin-bottom: 30px;
}

.photos {
	position: relative;
}

.photos:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #E7E6EB;
	position: absolute;
	left: 0;
	top: 42px;
}

/* SECTION PHOTOS END */

/* PROFILE (NEW DOCUMENT) START  */

.profile_name_description_wrap {
	float: right;
	font-size: 0;
	margin-right: 143px;
}

.profile_wrapper {
	margin-top: 100px;
	color: #fff;
}

.profile_name {
	margin-bottom: 2px;
	font-size: 30px;
	font-family: "Open Sans";
}

.profile_description {
	margin-top: 0;
	font-size: 13px;
	margin-bottom: 20px;
}

.profile_info_right {
	list-style-type: none;
	display: block;
	font-size: 0;
	height: 100%;
	float: right;
	margin-top: 70px;
}

.profile_info_right li {
	font-size: 14px;
	margin-right: 15px;
	float: left;
}

.profile_info_right li a {
	color: #fff;
}

.profile_info_right li:last-child {
	margin-right: 25px;
}

.profile_wrapper_2 {
	background-color: #fff;
	padding-top: 8px;
}

.profile_photos {
	position: relative;
	margin-left: 25px;
	width: 170px;
	display: inline-block;
}

.profile_photos .large_photo {
	height: 170px;
	width: 170px;
	border-radius: 50%;
	border: 3px solid #fff;
	position: absolute;
	top: -36px;
}

.profile_photos .mini_photo {
	height: 55px;
	width: 55px;
	border-radius: 50%;
	border: 3px solid #fff;
	left: 0;
	top: 76px;
	position: absolute;
}

.profile_menu {
	list-style-type: none;
	float: right;
	padding: 0;
	font-size: 0;
	margin-right: 43px;
}

.profile_menu li {
	float: left;
	border-bottom: ;
	text-align: center;
	border-bottom: 2px solid transparent;
}

.profile_menu li:last-child {
	border-right: none;
}

.profile_menu li:hover {
	border-bottom: 2px solid #09BDFA;
}

.profile_menu li span {
	font-size: 15px;
	font-weight: bold;
}

.profile_menu li a {
	padding: 0 20px 5px 20px;
	color: #757575;
	width: 100%;
	display: block;
	font-size: 13px;
	font-weight: lighter;
	display: block;
}

.profile_menu li a {
	text-decoration: none;
}

.profile_action {
	margin: 3px 0 0 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

.profile_action li {
	float: left;
	margin-right: 10px;
	line-height: 30px;
}

.profile_action li:first-child a {
	color: #09BDFA;
	display: inline-block;
	padding: 0 15px;
	border: 1px solid #09BDFA;
}

.profile_action li a:hover, .profile_action li a:focus {
	text-decoration: none;
}

.profile_action .fa-times {
	margin-left: 15px;
}

.profile_action .fa-envelope {
	background-color: #09BDFA;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	color: #fff;
}

.profile_action .dots {
	font-size: 6px;
}

.dots .fa-circle:nth-of-type(1) {
	color: #09BDFA;
}

.dots .fa-circle:nth-of-type(2) {
	color: #94E41A;
}

.dots .fa-circle:nth-of-type(3) {
	color: #FB4181;
}

.images_s {
	background-color: #F5FBFB;
	text-align: center;
	padding-top: 20px;
}

.img_item img {
	width: 100%;
}

.img_item {
	background-color: #EDEDED;
	margin: 0 10px;
	position: relative;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
}

.panel {
	position: absolute;
	opacity: 0;
	z-index: 9999;
	bottom: 0;
	padding: 15px;
	width: 100%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.60);
	-moz-transition:all 0.4s;
	-webkit-transition:all 0.4s;
	-o-transition:all 0.4s;
	transition:all 0.4s;
}

.img_item:hover .panel {
	opacity: 1;
}

.panel div {
	display: inline-block;
}

.panel .date {
	float: left;
}

.panel .repost, .panel .like {
	float: right;
}

.panel .fa-heart, .panel .fa-share {
	margin: 0 10px;
}

/* PROFILE END  */

/* REGISTRATION (NEW DOCUMENT) START  */

.registration {
	text-align: center;
	min-height: 100%;
}

.logo_dots {
	font-size: 20px;
}

.logo_dots .fa-circle:nth-of-type(1) {
	color: #09BEFB;
}

.logo_dots .fa-circle:nth-of-type(2) {
	color: #FC4181;
}

.logo_dots .fa-circle:nth-of-type(3) {
	color: #94E41A;
}

.logo_dots .fa-circle:nth-of-type(4) {
	color: #FBD919;
}

.hello {
	font-weight: lighter;
	margin-top: 50px;
	font-size: 40px;
	margin-bottom: 8px;
}

.enter_site {
	font-size: 13px;
	margin-top: 40px;
}

.social_enter {
	list-style-type: none;
	margin: 10px 0 45px 0;
	padding: 0;
	font-size: 0;
}

.social_enter li {
	display: inline-block;
}

.social_enter li a {
	font-size: 14px;
	display: block;
	color: #fff;
	font-weight: lighter;
	margin-right: 12px;
	line-height: 1;
}

.social_enter li:last-child a {
	margin-right: 0;
}

.social_enter li a:hover, .social_enter li a:focus {
	text-decoration: none;
}

.email_enter {
	font-size: 14px;
}

.reg_form input {
	padding-left: 17px;
	padding: 21px 0 21px 17px;
	width: 250px;
	border: 1px solid #EBEBEB;
	outline: none;
	color: #A7A8AA;
	border-radius: 8px;
	margin-bottom: 10px;
	font-size: 16px;
}

.reg_form button {
	margin-left: 14px;
	background-color: #F5F5F5;
	padding: 21px 0;
	width: 120px;
	border: 1px solid #EBEBEB;
	outline: none;
	color: #D0D4D3;
	border-radius: 8px;
	font-size: 15px;
}

.rules_link {
	color: #000;
	text-decoration: underline;
}

.line_background {
	margin-top: 100px;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
	height: 5px;
	background-image: url(../img/registration_bg.jpg);
}

/* STR PHOTOS START */

.str_photos {
	margin-top: 2px;
}

.photo_and_buttons {
	position: relative;
}

.main_str_photo {
	width: 966px;
	float: left;
	background-color: #343434;
	text-align: center;
	margin: 0 auto;
	margin-left: 102px;
}

.str_photo_prev {
	width: 102px;
	text-align: center;
	background-color: #1D1D1D;
	height: 100%;
	display: block;
	float: left;
	color: #fff;
	font-size: 50px;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 0;
	top:0;
}

.str_photo_next {
	width: 102px;
	text-align: center;
	background-color: #1D1D1D;
	height: 100%;
	display: block;
	float: left;
	color: #fff;
	font-size: 50px;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
}

.str_photo_prev i {
	vertical-align: middle;
	position: absolute;
	top: 50%;
	height: 100px;
	line-height: 100px;
	margin-top: -50px;
	width: 100%;
	display: block;
	text-align: center;
}

.str_photo_next i {
	vertical-align: middle;
	position: absolute;
  top: 50%;
	height: 100px;
	line-height: 100px;
  margin-top: -50px;
	width: 100%;
	display: block;
	text-align: center;
}

.str_photo_prev:hover, .str_photo_next:hover {
	background-color: #343434;
}

.str_photo_prev:hover, .str_photo_prev:focus, .str_photo_next:hover, .str_photo_next:focus {
	color: #fff;
}

.crest_and_fullpage {
	position: absolute;
	right: -40px;
	top: 10px;
}

.crest_button {
	display: block;
	margin-bottom: 15px;
}

.fullpage_button {
	display: block;
}

.photo_mini_items {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	background-color: #1D1D1D;
	text-align: center;
	padding-top: 10px;
}

.photo_mini_items .photo_item {
	display: inline-block;
	cursor: pointer;
	width: 105px;
	margin-right: 10px;
	opacity: 0.7;
}

.photo_mini_items .photo_item:hover {
	opacity: 1;
	outline: 1px solid white;
}

.photo_mini_items .photo_item img {
	height: 96px;
	width: 105px;
}

.photo_mini_items .photo_item:last-child {
	margin-right: 0;
}

/* STR PHOTOS END */

/* Messages str START */

.messages_s {
	padding: 25px 0;
}

.persons_box {
	width: 350px;
	background-color: #fff;
	padding: 20px 0 20px 20px;
	float: left;
	border: 1px solid #E5E5E5;
	margin-right: 25px;
}

.person_item {
	margin-bottom: 20px;
	cursor: pointer;
}

.person_item:last-child {
	margin-bottom: 0;
}

.person_item.active {
	border-right: 4px solid #94E41A;
}

.person_avatar {
	float: left;
	z-index: 1;
}

.person_avatar img {
	border-radius: 50%;
}

.person_info {
	float: left;
	margin-left: 15px;
}

.person_avatar img {
	width: 50px;
	height: 50px;
}

.person_name {
	padding-top: 5px;
	font-size: 16px;
}

.person_time {
	color: #818181;
}

.private_wrapper {
	max-width: 793px;
	background-color: #fff;
	float: right;
	border: 1px solid #E5E5E5;
}

.person_name_and_tag {
	float: left;
	vertical-align: middle;
}

.private_item_1 {
	padding: 25px;
	background-color: #fff;
}

.private_tag {
	color: #818181;
}

.send_photo_wrapper {
	float: right;
}

.send_photo_button {
	display: inline-block;
	background-color: transparent;
	border: 1px solid #E5E5E5;
	height: 40px;
	border-radius: 2px;
	line-height: 1;
	padding: 12px 19px;
	float: left;
}

.send_photo_button:focus {
	outline: none;
}

.send_photo_dots {
	display: inline-block;
	font-size: 5px;
	float: left;
	line-height: 40px;
	margin-left: 23px;
}

.send_photo_dots:hover, .send_photo_dots:focus {
	text-decoration: none;
}

.message_wrapper {
	padding: 
}

.private_item_2 {
	background-color: #F5FBFB;
	padding: 25px;
}

.message_avatar {
	display: inline-block;
	margin-right: 30px;
	height: 42px;
	width: 42px;
	float: left;
}

.message_avatar img {
	height: 42px;
	width: 42px;
	border-radius: 50%	;
}

.message_input {
	padding: 10px 5px 10px 17px;
	border: 1px solid #E7E7E7;
	width: 520px;
	float: left;
}

.send_message_button {
	height: 40px;
	background-color: #96E500;
	border: 1px solid #E6E6E6;
	padding: 0 25px;
	margin-left: 25px;
	float: right;
}

.send_message_button:focus {
	outline: none;
}

.private_item_3 {
	background-color: #fff;
	padding: 25px;
	min-height: 391px;
}

.message_section_left {
	float: left;
	width: 100%;
	margin-top: 5px;
}

.message_section_avatar_left {
	float: left;
	margin-right: 30px;
	height: 42px;
	width: 42px;
}

.message_section_avatar_left img {
	height: 42px;
	width: 42px;
	border-radius: 50%	;
}

.message_text_left {
	padding: 10px 18px;
	background-color: #F5FBFB;
	display: inline-block;
	float: left;
	margin-right: 15px;
}

.message_time_left {
	float: left;
	font-size: 9px;
	color: #BCBCBC;
	margin-top: 12px;
}

.message_section_right {
	float: right;
	width: 100%;
	margin-top: 5px;
}

.message_section_avatar_right {
	float: right;
	margin-left: 30px;
	height: 42px;
	width: 42px;
}

.message_section_avatar_right img {
	height: 42px;
	width: 42px;
	border-radius: 50%	;
}

.message_text_right {
	float: right;
	padding: 10px 18px;
	background-color: #F5FBFB;
	display: inline-block;
	margin-left: 15px;
}

.message_time_right {
	float: right;
	font-size: 9px;
	color: #BCBCBC;
	margin-top: 12px;
}

/* Messages str END */

/* Subscribers str START */

.subscribers {
	padding-top: 34px;
	text-align: center;
	color: #fff;
}

.subscribers > .container > .row {
	padding: 0 15px;
}

.sub_item {
	display: inline-block;
	width: 365px;
	background-image: url(../img/subscribers_item_bg.png);
	background-repeat: no-repeat;
	border-radius: 3px;
	-webkit-background-size: cover;
	background-size: cover;
}

.sub_avatar {
	width: 97px;
	height: 96px;
	display: inline-block;
	margin-top: 23px;
	margin-bottom: 12px;
}

.sub_avatar img {
	width: 97px;
	height: 96px;
	border-radius: 50%;
}

.sub_name {
	font-size: 20px;
	margin-bottom: 25px;
}

.sub_button {
	color: #fff;
	font-size: 12px;
	height: 31px;
	display: inline-block;
	padding: 6px 16px;
	background-color: #00BEFC;
	border-radius: 3px;
	margin-bottom: 30px;
}

.sub_button .fa-plus {
	margin-left: 10px;
}

.sub_button:hover, .sub_button:focus {
	color: #fff;
	text-decoration: none;
}

.sub_person_info {
	margin-bottom: 28px;
}

.sub_person_photos {
	display: inline-block;
	font-size: 12px;
}

.sub_person_subs {
	display: inline-block;
	margin: 0 40px;
	font-size: 12px;
}

.sub_person_subscription {
	display: inline-block;
	font-size: 12px;
}

.sub_person_photos span, .sub_person_subs span, .sub_person_subscription span {
	font-size: 16px;
	font-weight: bold;
	display: block;
}

/* Subscribers str END */